{% extends 'base.html.twig' %}

{% block title %}Editer Commentaire{% endblock %}

{% block body %}
    <h1>Éditer un commentaire</h1>

    {{ include('wild/comment/_form.html.twig', {'button_label': 'Éditer'}) }}

    {{ include('wild/comment/_delete_form.html.twig') }}
{% endblock %}