{% extends 'base.html.twig' %}

{% block title %} {{ 'edit.comment.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.comment'|trans }}</h1>

    {{ include('wild/comment/_form.html.twig', {'button_label': 'Éditer'}) }}

    {{ include('wild/comment/_delete_form.html.twig') }}
{% endblock %}
