{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5">L'index des catégories</h1>
            <div class="d-flex justify-content-end m-4">
                <button class="btn btn-warning mb-3">
                    <a class="text-dark text-decoration-none" href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
                </button>
            </div>
        <ul class="list-group text-white" >
             {% for category in categories %}
                <li class="list-group">{{ category.id }} ➔ {{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}