{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <div >
            <h1>Category index</h1>
            <button class="btn btn-danger"><a href="{{ path('category_new') }}">Ajouter une catégorie</a></button>
        </div>
    <ul>
             {% for category in categories %}
                <li>{{ category.id }} / {{ category.name }}</li>
            {% endfor %}
    </ul>
    </div>
    <button class="btn btn-warning"><a href="{{ path('wild_index') }}">Retour à l'accueil</a></button>

{% endblock %}