{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Créer un épisode</h1>
    {{ include('episode/_form.html.twig') }}
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('episode_index') }}">Retour</a>
        </button>
    </div>
{% endblock %}
