{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Créer une nouvelle saison</h1>
    {{ include('season/_form.html.twig') }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('season_index') }}">Retour</a>
        </button>
    </div>
{% endblock %}
