{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}
    <h1 class="mt-5">Éditer un programme</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('program/_delete_form.html.twig') }}

    <div class="d-flex justify-content-end">
        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="{{ path('program_index') }}">Retour à la liste</a></button>
    </div>

{% endblock %}
