{% extends 'base.html.twig' %}
{% block body %}
    <div class="profil-user text-center">
        <h1>{% trans with {'%username%' : app.user.email} %}
       Hello_username
        {% endtrans %}</h1>
        <p>{{ 'profile.page'|trans }}</p>
        <p>{{ 'message.welcome'|trans }}</p>
        <button class="btn btn-warning">
            <a class="text-decoration-none link-button" href="{{ path('wild_index') }}">
                {{ 'home'|trans }}
            </a>
        </button>
    </div>
{% endblock %}
