@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway&display=swap');
@import "home";
@import "show";

$font-title: 'Pacifico', cursive;
$font-paragraph:'Raleway', sans-serif;
$body-bg: #FFF;
$body-color: #111;
$font-color-nav: #ef5e98;
$link-color: #111;

body {
    background-color: $body-bg;
    font-family: $font-paragraph;
    color: $body-bg;
}

h1, h2{
    text-align: center;
    font-family: $font-title;
    color: $font-color-nav;
}
h3, h4, h5, h6{
    font-family: $font-title;
    color: $body-bg;
}

a.nav-link{
    font-family: $font-paragraph;
}
a.navbar-brand {
    font-family: $font-paragraph;
}

.link-button{
    color: $link-color;
}
i.fa-user-secret{
    color: $body-bg;
}
.navbar-custom{
    background-color: $body-color;
}




