body {
  background-image: url("../images/backGws.png");
  background-size: 100%;

 }
.logoHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

